/* font kit start here */
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans10pt-ExtraBold.woff2') format('woff2'),
        url('../fonts/NunitoSans10pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans10pt-Medium.woff2') format('woff2'),
        url('../fonts/NunitoSans10pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans10pt-Bold.woff2') format('woff2'),
        url('../fonts/NunitoSans10pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans10pt-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans10pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans10pt-SemiBold.woff2') format('woff2'),
        url('../fonts/NunitoSans10pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-SemiBold.woff2') format('woff2'),
        url('../fonts/Roboto-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ExtraBold.woff2') format('woff2'),
        url('../fonts/Roboto-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



/* font kit start end */
body {
    font-family: Nunito Sans;
    margin: 0px;
    padding: 0px;
}


a {
    text-decoration: none;
}

.form-control:focus,
.form-select:focus {
    border-color: #017F42;
    box-shadow: none;
}

.home_main {
    background-color: #000000;
}

.z-2 {
    z-index: 2;
}
.z-3{
    z-index: 3;
}

/* home css start */
.site_logo h3 {
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 23.78px;
    line-height: 100%;
    letter-spacing: 0.02px;
    color: #ffffff;
}

.home_header .navbar-nav {
    gap: 35px;
    margin-right: 100px;
}

.home_header .navbar-nav a {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.2px;
    color: #ffffff;
}

.home_header .navbar-nav a.active {
    color: #ffffff;
}

.header_right_btns a {
    border: 1px solid #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02px;
    border-radius: 30px;
    padding: 11px 37px;
    color: #ffffff;
    transition: 0.5s;
    display: inline-block;
}
.header_right_btns a:hover{
    background-color: #ffff;
    color: #000000;
}

header.home_header {
    padding: 35px 0px;
    position: relative;
    z-index: 2;
}

.home_main::after {
    content: '';
    position: absolute;
    background-image: url(../images/body-ellipses.png);
    height: 500px;
    width: 1100px;
    right: 0px;
    top: -30px;
}

.try_ninja_content {
    width: 100%;
    max-width: 820px;
}

.try_ninja_content span {
    border: 1px solid #FFFFFF4D;
    background: #FFFFFF1A;
    box-shadow: 0px 4px 4px 0px #FFFFFF40 inset;
    border-radius: 30px;
    padding: 7px 23px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.try_ninja_content h1 {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 65px;
    line-height: 81px;
    letter-spacing: 0.02px;
    background: linear-gradient(90deg, #999999 0%, #FFFFFF 51.5%, #999999 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 35px;
}

.try_ninja_content .try_ninja_content_btns a {
    background: linear-gradient(91.47deg, rgba(153, 153, 153, 0.1) 1%, rgba(255, 255, 255, 0.1) 99%);
    border: 1px solid #FFFFFF33;
    box-shadow: 5px 4px 12.2px 0px #FFFFFF40 inset;
    border-radius: 30px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    padding: 20px 48px;
    display: inline-block;
    transition: 0.5s;
}
.try_ninja_content .try_ninja_content_btns a:hover {
    box-shadow: 5px 4px 23.2px 0px #FFFFFF40 inset;
}

.try_ninja_content .try_ninja_content_btns a.transparent_btn {
    background: transparent;
    border: none;
    box-shadow: none;
}
.try_ninja_content .try_ninja_content_btns a.transparent_btn:hover{
    box-shadow: none;
}
.try_mic_container .mic-container {
    position: relative;
    width: 100px;
    height: 100px;
    background: linear-gradient(218.67deg, #E06943 3.44%, #AC1E7A 43.17%, #562C7C 75.06%, #34399B 95.56%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(255, 0, 127, 0.5);
    cursor: pointer;
}

.try_mic_container .mic-container::before,
.try_mic_container .mic-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(216, 0, 120, 0.20);
    opacity: 0.9;
    z-index: -1;
}

.try_mic_container .mic-container::before {
    animation: pulse 2s ease-out infinite;
}

.try_mic_container .mic-container::after {
    animation: pulse 2s 1s ease-out infinite;
    background: #FDA2DD1A;
}

@keyframes pulse {
    100% {
        transform: scale(2);
        opacity: 1;
    }
}

.try_mic_container {
    padding: 150px 0px;
}

.try_ninja_sec {
    padding: 100px 0px 0px;
    background-image: url(../images/home-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.gradient_heading {
    background: linear-gradient(90deg, #535353 0%, #FFFFFF 52.5%, #535353 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

.about_ninja_sec {
    padding: 40px 0px;
}

.about_ninja_container {
    background: #FFFFFF1A;
    border: 1px solid #505050;
    border-radius: 10px;
    overflow: hidden;
}

.about_ninja_sec h3 {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0.02px;
    padding: 55px 20px 100px 35px;
}

.about_us_heading .about_voice_logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 320px;
    width: 320px;
    background-color: #d9d9d91a;
    margin-left: -20px;
    bottom: -33px;
}

.about_us_heading .about_voice_logo::after,
.about_us_heading .about_voice_logo::before {
    content: '';
    height: 220px;
    width: 220px;
    border-radius: 100%;
    background-color: #d9d9d91a;
    z-index: 1;
    position: absolute;
}

.about_us_heading .about_voice_logo::after {
    height: 270px;
    width: 270px;
    background-color: #d9d9d91a;
}

.about_voice_logo .rounded_box {
    position: absolute;
    background: linear-gradient(216.34deg, #E06943 5.6%, #AC1E7A 30.24%, #801E5D 56.21%, #562C7C 74.42%, #34399B 94.4%);
    border-radius: 100%;
    height: 185px;
    width: 185px;
    z-index: 2;
}

.about_us_content {
    padding: 100px 30px 70px;
}

.about_us_content p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02px;
    color: #ffffff;
    margin-bottom: 25px;
}

.try_for_free_btn {
    background: linear-gradient(91.47deg, rgba(153, 153, 153, 0.1) 1%, rgba(255, 255, 255, 0.1) 99%);
    border: 1px solid #FFFFFF33;
    box-shadow: 5px 4px 12.2px 0px #FFFFFF40 inset;
    padding: 20px 48px;
    border-radius: 30px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02px;
    color: #ffffff;
    transition: 0.5s;
}

.try_for_free_btn:hover {
    color: #ffffff;
    box-shadow: 5px 4px 23.2px 0px #FFFFFF40 inset;
}

.why_choose_sec {
    padding: 40px 0px;
}

.why_choose_sec h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.02px;
    max-width: 370px;
    margin-bottom: 50px;
}

.why_choose_box {
    background: #171717;
    border-radius: 5px;
    padding: 50px 30px;
    margin-bottom: 23px;
}

.why_choose_box h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.02px;
}

.why_choose_box p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.02px;
    color: #FFFFFF;
}

.hand_free_efficiency {
    display: grid;
    grid-template-columns: 35% 24% 35%;
    gap: 20px;
    align-items: center;
}

.hand_free_inner_img_box {
    width: 100px;
    height: 180px;
    background: linear-gradient(270deg, #A6A6A6 0%, #404040 100%);
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hand_free_inner_img_box::after,
.hand_free_inner_img_box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #404040;
    border-radius: 70px;
    right: 50px;
    z-index: -1;
}

.hand_free_inner_img_box::before {
    background: #272727;
    right: 90px;
}

.hand_free_inner_img_box.double_star_box::after {
    right: unset;
    left: 50px;
}

.hand_free_inner_img_box.double_star_box::before {
    right: unset;
    left: 90px;
}

.hand_free_inner .music_line {
    position: absolute;
    opacity: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.hand_free_inner .mic_icon {
    position: relative;
}

.hand_free_inner .mic_icon::after {
    content: '';
    position: absolute;
    background-image: url(../images/shadow-img.png);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 242px;
    width: 242px;
}

.why_choose_box_grid {
    display: flex;
    gap: 20px;
    align-items: center;
}

.why_choose_box .pulse_box {
    background: #d9d9d91a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 137px;
    width: 137px;
    border-radius: 100%;
}

.why_choose_box .pulse_box::after,
.why_choose_box .pulse_box::before {
    content: '';
    position: absolute;
    background: #d9d9d91a;
    height: 110px;
    width: 110px;
    border-radius: 100%;
}

.why_choose_box .pulse_box::after {
    background: #d9d9d91a;
    height: 85px;
    width: 85px;
}

.why_choose_box_outer {
    padding: 35px 20px;
}

.personalized_experience_box {
    padding: 50px 10px;
}
.personalized_experience_box.why_choose_box p, .why_choose_box_outer p, .seamless_integration_box p{
    font-size: 14px;
    line-height: 19px;
}
.hand_free_box p {
    max-width: 500px;
    margin-bottom: 35px;
}

.why_choose_voice_logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    background-color: #d9d9d91a;
}

.why_choose_voice_logo::after,
.why_choose_voice_logo::before {
    content: '';
    height: 115px;
    width: 115px;
    border-radius: 100%;
    background-color: #d9d9d91a;
    z-index: 1;
    position: absolute;
    z-index: -1;
}

.why_choose_voice_logo::after {
    height: 145px;
    width: 145px;
    background-color: #d9d9d91a;
}

.why_choose_voice_logo .rounded_box {
    height: 85px;
    width: 85px;
    position: absolute;
    border-radius: 100%;
    z-index: -1;
    background: linear-gradient(216.34deg, #E06943 5.6%, #AC1E7A 30.24%, #801E5D 56.21%, #562C7C 74.42%, #34399B 94.4%);
}

.why_choose_voice_logo_outer {
    height: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.seamless_integration_box {
    padding: 20px 32px;
}

.why_choose_box .mini_box {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #d9d9d91a;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 30px;
    top: 70px;
}

.why_choose_box .mini_box.bulb_star_icon {
    bottom: 10px;
    left: 30px;
    right: unset;
    top: unset;
}

.key_features_sec {
    padding: 40px 0px;
}

.key_features_sec h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0.02px;
    margin-bottom: 50px;
}

.key_features_box {
    background: #171717;
    border-radius: 5px;
    padding: 20px 17px;
}

.key_features_box span {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.02px;
    color: #ffffff;
    margin-bottom: 14px;
}

.key_features_box h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.02px;
}

.key_features_box_heading {
    height: 200px;
    border-bottom: 1px solid #FFFFFF1A;
}

.key_features_box p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02px;
    color: #ffffff;
    padding-top: 10px;
}

.faq_sec {
    padding: 40px 0px;
}

.faq_heading span {
    background: #FFFFFF1A;
    border: 1px solid #FFFFFF4D;
    box-shadow: 0px 4px 4px 0px #FFFFFF40 inset;
    border-radius: 30px;
    padding: 6px 32px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.faq_heading h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0.02px;
    background: linear-gradient(90deg, #535353 0%, #FFFFFF 52.5%, #535353 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.faq_inner {
    margin-top: 50px;
}

.faq_inner .accordion-item {
    background: #FFFFFF1A;
    box-shadow: 0px 4px 28.6px 0px #ff7dd15c inset;
    border: none;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.faq_inner .accordion-button {
    background: transparent;
    box-shadow: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02px;
    color: #FFFFFF;
}

.faq_inner .accordion-body {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02px;
    color: #FFFFFF;
}


.faq_inner .accordion-button::after {
    background-image: url(../images/accordion-plus-icon.svg);
}

.faq_inner .accordion-button:not(.collapsed)::after {
    background-image: url(../images/accordion-minus-icon.svg);
}

.get_started_sec {
    padding: 70px 0px 100px;
}

.get_started_box {
    background: linear-gradient(90deg, #E06943 0%, #AC1E7A 42.5%, #562C7C 77.5%, #34399B 100%);
    border-radius: 10px;
    padding: 100px 30px;
}

.get_started_box::after {
    content: '';
    position: absolute;
    background-image: url(../images/get-started-bg.png);
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.get_started_box h4 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0.02px;
    margin-bottom: 11px;
}

.get_started_box p {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    margin-bottom: 26px;
}

.get_started_box_btns a {
    background: #FFFFFF;
    border-radius: 30px;
    padding: 13px 22px;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.02px;
    color: #000000;
    border: 1px solid #FFFFFF;
    transition: 0.5s;
}

.get_started_box_btns a.explore_feature_link {
    background-color: transparent;
    color: #ffffff;
}

.get_started_box_btns a:hover{
    background-color: #000000;
    color: #ffffff;
}


.newsletter_sec {
    padding: 30px 0px;
    border-bottom: 1px solid #FFFFFF1A;
    background-color: #171717;
}

.newsletter_form label {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.02px;
    margin-bottom: 17px;
}

.newsletter_form {
    max-width: 500px;
}
.newsletter_form .input-group{
    border: 1px solid #FFFFFF1A;
    border-radius: 30px;
}

.newsletter_form input {
    border: none;
    background-color: transparent;
    border-radius: 30px 0px 0px 30px;
    padding: 20px 25px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02px;
    color: #FFFFFF;
}

.newsletter_form input:focus {
    background-color: transparent;
    color: #FFFFFF;
    border:none;
}

.newsletter_form button {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF1A;
    padding: 20px 48px;
    border-radius: 30px !important;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02px;
    color: #232323;
}
footer{
    background-color: #171717;
}

.footer_inner {
    padding: 66px 0px;
    display: grid;
    grid-template-columns: 70% 28%;
    gap: 20px;
}

.footer_inner_left {
    display: flex;
    gap: 90px;
}

.footer_inner_left h5 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.02px;
    margin-bottom: 18px;
}

.footer_inner_left li,
.footer_inner_left li a {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02px;
    color: #ffffffb3;
    margin-bottom: 10px;
}

.footer_social_links p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02px;
    color: #ffffffb3;
}
.footer_links ul{
    position: relative;
}
.footer_links ul::after{
    content: '';
    position: absolute;
    height: 104%;
    width: 1px;
    background-color: #ffffff1a;
    top: -5px;
    left: -15px;
}
.footer_links:first-child ul::after{
    display: none;
}

.copyright_sec {
    padding: 20px 10px;
    border-top: 1px solid #FFFFFF1A;
    background-color: #171717;
}

.copyright_sec p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.02px;
    color: #ffffffb3;
}

/* home css end */