@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
   
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* font kit end here */
body {
   font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}



a {
    text-decoration: none;
}


.email_logout_notification .logout_link img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.email_logout_notification .email_logout_notification_inner_header{
    background-color: transparent;
    border: 1px solid #0059a6;
    padding: 18px;
    font-size: 16px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.email_logout_notification .email_logout_notification_inner_header i{
    font-size: 16px;
}

.email_dashboard_content h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: #24245A;
}

.email-list {
    background-color: #f2f6fc;
    padding: 20px;
    border-radius: 10px;
}

.email-item{        
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.12);
    
}

.email-item .email_content_text {
    width: 100%;
    max-width: calc(100% - 50%);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #24245A;
}

.email-item:last-child{
    margin-bottom: 0px;
}

.email-item h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #24245A;
}

.email-item .email{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #24245A;
}

.email-item .email-subject{
    font-size: 16px;
    font-weight: 400;
    line-height: 16.8px;
    color: #24245A;
    margin: 0;
}

.email-item .email-preview{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #24245A;
}

.email-item .email-time {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    position: absolute;
    top: 11px;
    right: 14px;
}

.notification-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 300px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    right: -2px;
    border-radius: 10px;
    padding: 10px;
}

.notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.notification-list li:last-child {
    border-bottom: none;
}

.logs_email_table_outer h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    color: #24245A;

}  

.logs_email_table_outer input{
    border: 1px solid #24245A;
    border-radius: 0px;
    padding: 10px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #24245A;
    background-color: #fff;
}

.filter_email_sec input {
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 47px;
    font-size: 16px;
    font-weight: 400;
    color: #24245A;
    background-color: #e9eef7;
    margin-bottom: 10px;
}

.filter_email_sec input:focus-visible{
    outline: none;
}

.filter_email_sec input::placeholder{
    color: #24245A;
}



.logs_email_table_outer .pagination{
    justify-content: end;
}

.logs_email_table_outer .pagination .page-item .page-link{
    border: 1px solid #24245A;
    color: #24245A;
    background-color: transparent;
}

.logs_email_table_outer .pagination .page-item .page-link:hover{
    background-color: #24245A;
    color: #fff;
}

.logs_email_table_outer .pagination .page-item .page-link:focus{
    box-shadow: none;
}

.logs_email_table_outer .pagination .page-item .page-link:disabled{
    background-color: #24245A;
    color: #fff;
}

.logs_email_table_outer .pagination .page-item .page-link:active{
    background-color: #24245A;
    color: #fff;
}
/* login css end */
/* signup css start */



/******* admin dashboard css start *******/

.admin_dashboard {
    background-color: #fff;
    min-height: 100vh;
}

.admin_dashboard .left_side_menu {
    background: #fff; 
    box-shadow: 0px 4px 4px 0px #00000040;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 0px;
    z-index: 9;
    width: 290px;
    height: 100%;
}




section.admin_dashboard .content-page {
    width: calc(100% - 290px);
    margin-left: auto;
    position: relative;
}

.admin_dashboard .sidebar_logo {
    text-align: center;
}

.dashboard_sidebar_links {
    margin: 10px 0px 10px;
    height: calc(100vh - 210px);
    overflow: auto;
}

.dashboard_sidebar_links::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.dashboard_sidebar_links::-webkit-scrollbar-thumb {
    background-color: #406190;
    border-radius: 5px;
}

.dashboard_sidebar_links ul.links_list {
    padding: 0px 40px;
}

.dashboard_sidebar_links ul li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.12px;
    letter-spacing: 0.05em;
    padding: 8px 10px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 7px !important;
    color: #848484;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
}

.dashboard_content_header h3 {
    color: #24245A;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

.dashboard_content_header h3 span {
    color: #F47458;
}

.dashboard_content_inner {
    padding: 20px 14px 50px;
}

.voice_assistant_sec img {
    height: 50px;
    object-fit: contain;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    animation: pulse 2s infinite;
    z-index: 10;
}

.voice_assistant_sec img:hover {
    transform: scale(1.2) rotate(15deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1.2);
    }
}

.dashboard_sidebar_links ul li a.active_sidebar_link{
    background-color: #e9eef7;
    color: #24245A;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
}

.logo_section {
    padding: 0px 24px;
    margin-bottom: 35px;
}

.logo_section img {
   cursor: pointer;
}

.select_super_admin {
    margin: 20px 10px;
}

.select_super_admin select {
    border: none;
    border-radius: 5px;
    padding: 10px 45px 8px;
    width: 100%;
    height: 51px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0px 0px 4px 0px #0000001A;
    
}

.email_logout_notification h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    color: #232323;

}

.pricing_card{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border: 1px solid #0000001A
}

.pricing_card p{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #232323;
    margin-bottom: 30px;
    position: relative;
    padding-left: 20px;
}

.pricing_card p::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #9716D3;
    border-radius: 100%;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.pricing_card input{
    border: 1px solid #0000001A;
    border-radius: 7px;
    padding: 10px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #232323;
    background-color: #fff;
    width: 100%;
   
}

.pricing_card button{
    background-color: #232323;
    border: 1px solid #2323231A;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 7px;
    height: 50px;

}

.time_duration {
    position: absolute;
    top: 14px;
    right: 10px;
    background-color: transparent;
    color: #232323;
    
}

.time_duration span svg{
    color: #232323;
}

.pricing_card_input{
    width: 100%;
    max-width: 565px;
}

.workspase_icon {
    position: absolute;
    top: 14px;
    left: 10px;
    background-color: transparent;
   
}

.login_page {
    background-image: url(../images/login_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login_page .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
}















