__pycache__/
venv
server.log
.env
# .vscode
audio_storage/
.DS_Store
alembic/versions/*.py
media/
env/
/Users/snake/Desktop/SAGE-AI/requirements.txt
/Users/snake/Desktop/SAGE-AI/.gitignore
vectorstore/
voice_ninja_env/
.venv/
pyproject.toml
.python-version
migrations/versions
uv.lock
uploads/*
