fastapi==0.115.8
pydantic==2.10.6
pydantic-settings==2.7.1
uvicorn==0.34.0
python-dotenv==1.0.1
FastAPI-SQLAlchemy==0.2.1
SQLAlchemy==2.0.38
requests==2.32.3
python-jose[cryptography]==3.5.0
psycopg2-binary==2.9.10
asyncpg==0.30.0
python-multipart==0.0.20
starlette==0.45.3
bcrypt==4.2.1
twilio==9.4.4
pymupdf==1.25.3
Pillow==11.1.0
pytesseract==0.3.13
docx2txt==0.8
aiofiles==24.1.0
fastapi-mail==1.4.2
google-generativeai==0.8.5
aiohttp==3.11.14
alembic==1.14.1
langchain==1.2.1
langchain-google-genai==4.2.0

