{% extends 'Web/base.html' %}

{% block title %}
<title>Voices Dashboard</title>
{% endblock %}

{% block content %}

<body>

<div class="wrapper">
    <!-- Sidebar -->
    {% include 'Web/sidebar.html' %}
    <div class="loading-state" style="display:none;">
        <div class="site_loading"></div>
      </div>
    <!-- Page Content -->
    <div id="content" class="page_content position-relative">
        <div class="agent_page_header d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center gap-2">
                <button type="button" class="sidebarCollapse mobile_hamburger_btn hamburger_btn bg-transparent border-0">
                    <img src="{{ host }}/static/Web/images/hamburger-icon.svg" class="img-fluid">
                </button>
                <div class="d-flex align-items-center gap-2">
                    <img src="{{ host }}/static/Web/images/voice-icon.svg" class="img-fluid">
                    <h6 class="mb-0">Voices</h6>
                </div>
            </div>
            <div>
                <button class="add-voice-btn" data-bs-toggle="modal" data-bs-target="#createVoiceModal">Add Voice</button>
            </div>
        </div>

        <div class="table_filters pt-0 d-flex justify-content-between align-items-center gap-2 mt-3">
            <div class="table_search_box position-relative">
                <input type="search" class="form-control" placeholder="Search" id="voice-search">
                <div class="search_icon">
                    <img src="{{ host }}/static/Web/images/search-icon.svg" class="img-fluid">
                </div>
            </div>
        </div>

        <div class="agent_table_outer mt-3">
            <div class="agent_table">
                <div class="table-responsive">
                    <table class="table mb-0" id="voices-table">
                        <thead>
                            <tr>
                                <th>Voice Name</th>
                                <th>Type</th>
                                <th>ElevenLabs ID</th>
                                <th>Audio</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for voice in page_obj.items %}
                            <tr id="voice-row-{{ voice.id }}">
                                <td data-field="voiceName" >{{ voice.voice_name }}</td>
                                <td data-field="IsCustomVoice">{{ 'Custom' if voice.is_custom_voice else 'Default' }}</td>
                                <td data-field="elevenlabVoiceId">{{ voice.elevenlabs_voice_id or '-' }}</td>
                                <td data-field="audio">
                                    {% if voice.audio_file %}
                                    <audio controls>
                                        <source src="{{ host }}/{{ voice.audio_file }}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td data-field="acionButtons">
                                    <div class="d-flex align-items-center justify-content-center gap-2">
                                        <button class="btn btn-sm btn-info edit-voice-btn" id="edit-voice-btn-{{ voice.id }}" onclick="handleOpenEditVoiceModal(this)"
                                                data-voice-id="{{ voice.id }}" 
                                                data-voice-name="{{ voice.voice_name }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                                  </svg>
                                        </button>
                                        <button class="btn btn-sm btn-danger delete-voice-btn" id="delete-voice-btn-{{ voice.id }}"  onclick="handleDeleteVoice(this)"
                                                data-voice-id="{{ voice.id }}" 
                                                data-voice-name="{{ voice.voice_name }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                  </svg>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="5" class="text-center">No voices found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="table_pagination">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end gap-2 mb-0">
                            {%- set query_param = request.query_params.get('search', '') -%}
                
                            {%- if page_obj.has_previous -%}
                            <li class="page-item">
                                <a class="page-link pagination_arrow" href="{{ host }}/custom-voice-dashboard?page={{ page_obj.previous_page_number }}{% if query_param %}&search={{ query_param }}{% endif %}" tabindex="-1" aria-disabled="false">&lt;</a>
                            </li>
                            {%- endif -%}
                            
                            {%- for page in page_obj.page_range -%}
                            <li class="page-item {{ 'active' if page == page_obj.page else '' }}">
                                <a class="page-link" href="{{ host }}/custom-voice-dashboard?page={{ page }}{% if query_param %}&search={{ query_param }}{% endif %}" {% if page == page_obj.page %}aria-current="page"{% endif %}>{{ page }}</a>
                            </li>
                            {%- endfor -%}
                            
                            {%- if page_obj.has_next -%}
                            <li class="page-item">
                                <a class="page-link pagination_arrow" href="{{ host }}/custom-voice-dashboard?page={{ page_obj.next_page_number }}{% if query_param %}&search={{ query_param }}{% endif %}">&gt;</a>
                            </li>
                            {%- endif -%}
                        </ul>
                    </nav>
                </div>
                
                
            </div>
        </div>
    </div>
</div>

<!-- Create Voice Modal -->
<div class="modal fade" id="createVoiceModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Voice</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div id="recording-section" class="">
                    <button id="start-record-btn" class="add-voice-btn mb-3">Start Recording</button>
                    <div id="recording-indicator" class="mb-3" style="display:none;">
                        <div class="recording-bubble"></div>
                        <p>Recording... Speak now!</p>
                    </div>
                    <audio id="voice-preview" controls style="display:none;" class="mx-auto"></audio>
                    <div class="mt-3">
                        <button id="re-record-btn" class="btn btn-warning" style="display:none;">Re-record</button>
                    </div>
                </div>

                <form id="create-voice-form" class="mt-2" style="display:none;">
                    <div class="mb-3">
                        <label for="voice-name" class="form-label">Voice Name</label>
                        <input type="text" class="form-control" id="voice-name" required>
                    </div>
                    <button type="submit" class="btn btn-success">Add Voice</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Voice Modal -->
<div class="modal fade" id="editVoiceModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Voice Name</h5>
                <button type="button" class="btn-close" onclick="handleCloseEditModal()"></button>
            </div>
            <div class="modal-body">
                <form id="edit-voice-form">
                    <input type="hidden" id="edit-voice-id">
                    <div class="mb-3">
                        <label for="edit-voice-name" class="form-label">Voice Name</label>
                        <input type="text" class="form-control" id="edit-voice-name" required>
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="handleEditVoice(event)">Update Name</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteVoiceModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Are you sure?</h5>
                <p>You want to delete <strong id="delete-voice-name"></strong>?</p>
                <button class="btn btn-danger" id="confirm-delete-voice" onclick="handleDeleteVoice(event)">Delete</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" onclick="handleCloseDeleteVoiceModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/voiceDashboard.js"></script>

{% endblock %}
