<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{{ host }}/static/Web/css/bot_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Preview</title>
</head>
<body>
    <script src="{{ host }}/elevenlabs/preview/v1/chatbot-script.js/{{ agent_id }}"></script>
    <script src="{{ host }}/static/js/elevenlabs_websocket.js"></script>
    <input hidden id="username" placeholder="Username" value="admin">
    <input hidden id="password" placeholder="Password" value="admin123">
    <input hidden id="elevenlabs-agent-id" value="{{ agent_id }}">
</body>
</html>
