<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ host }}/static/Web/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ host }}/static/Web/css/home_style.css">
    <link rel="stylesheet" href="{{ host }}/static/Web/css/home_responsive.css">
</head>

<body>
    <main class="home_main position-relative">
        <!-- header sec start -->
        <header class="home_header">
            <nav class="navbar navbar-expand-md">
                <div class="container-lg">
                    <a class="navbar-brand site_logo d-flex align-items-center gap-2" href="{{ host }}">
                        <img src="{{ host }}/static/Web/images/voice-ninja-logo.svg" class="img-fluid">
                        <h3 class="mb-0">Voice Ninja</h3>
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav align-items-md-center">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ host }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#featureSec">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#faqSec">FAQ</a>
                            </li>
                        </ul>
                        <div class="header_right_btns">
                            <a href="{{ host }}/login">Log in</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- header sec end -->

        <!-- voice ninja home sec -->
        <section class="try_ninja_sec position-relative z-2">
            <div class="container-fluid">
                <div class="try_ninja_content mx-auto text-center">
                    <span class="d-inline-flex align-items-center justify-content-center gap-2"><img
                    src="{{ host }}/static/Web/images/yellow-star-icon.svg" class="img-fluid"> Trusted by 5k people</span>
                    <h1>Change the AI world with Voice Ninja</h1>
                    <div class="try_ninja_content_btns d-flex align-items-center justify-content-center">
                        <a href="{{ host }}/signup">Try for free</a>
                        <a href="#" class="transparent_btn d-flex align-items-center gap-2">Learn More <img
                                src="{{ host }}/static/Web/images/white-right-arrow.svg" class="img-fluid"></a>
                    </div>
                </div>
                <div class="try_mic_container text-center">
                    <div class="mic-container mx-auto">
                        <img src="{{ host }}/static/Web/images/mic-icon.svg" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
        <!-- voice ninja home end -->

        <!-- about ninja home start -->
        <section class="about_ninja_sec">
            <div class="container-md">
                <div class="about_ninja_container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="about_us_heading h-100 position-relative">
                                <h3 class="gradient_heading">About Voice Ninja</h3>
                                <div class="about_voice_logo">
                                    <img src="{{ host }}/static/Web/images/white-ninja-logo.png" class="img-fluid z-3 position-relative">
                                    <div class="rounded_box"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="about_us_content">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged.<br><br> It is a long established fact
                                    that a reader will be distracted by the readable content of a page when looking at
                                    its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                    distribution of letters, </p>
                                <a href="{{ host }}/signup" class="try_for_free_btn d-inline-block">Try for free</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about ninja home end -->

        <!-- why choose  sec start -->
        <section class="why_choose_sec">
            <div class="container-md">
                <h3 class="gradient_heading mx-auto text-center">Why choose Voice Controlled Interactions AI</h3>
                <div class="row gx-4">
                    <div class="col-lg-7">
                        <div class="why_choose_box hand_free_box">
                            <h4 class="gradient_heading">Hands-Free Efficiency</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div class="hand_free_efficiency">
                                <div class="hand_free_inner position-relative z-2">
                                    <div class="hand_free_inner_img_box ms-auto">
                                        <img src="{{ host }}/static/Web/images/man-emoji.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="hand_free_inner position-relative z-2">
                                    <div class="music_line">
                                        <img src="{{ host }}/static/Web/images/music-lines.svg" class="w-100 img-fluid">
                                    </div>
                                    <div class="mic_icon text-center">
                                        <img src="{{ host }}/static/Web/images/white-mic-icon.svg" class="img-fluid position-relative z-2">
                                    </div>
                                </div>
                                <div class="hand_free_inner position-relative z-2">
                                    <div class="hand_free_inner_img_box double_star_box">
                                        <img src="{{ host }}/static/Web/images/double-star-icon.svg" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="why_choose_box why_choose_box_outer">
                            <div class="why_choose_box_grid">
                                <div class="pulse_box_outer">
                                    <div class="pulse_box position-relative z-2">
                                        <img src="{{ host }}/static/Web/images/bulb-icon.svg" class="img-fluid">
                                    </div>
                                </div>
                                <div class="why_choose_box_content">
                                    <h4 class="gradient_heading">Future-Ready Technology</h4>
                                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="why_choose_box personalized_experience_box">
                            <div class="why_choose_box_grid">
                                <div class="pulse_box_outer">
                                    <div class="pulse_box position-relative z-2">
                                        <img src="{{ host }}/static/Web/images/bulb-icon.svg" class="img-fluid">
                                    </div>
                                </div>
                                <div class="why_choose_box_content">
                                    <h4 class="gradient_heading">Personalized Experiences</h4>
                                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s</p>
                                </div>
                            </div>
                        </div>
                        <div class="why_choose_box seamless_integration_box">
                            <div class="why_choose_voice_logo_outer position-relative">
                                <div class="why_choose_voice_logo mx-auto z-2">
                                    <img src="{{ host }}/static/Web/images/white-ninja-logo.png" class="img-fluid" width="44px" height="14px">
                                    <div class="rounded_box"></div>
                                </div>
                                <div class="mini_box bulb_star_icon">
                                    <img src="{{ host }}/static/Web/images/bulb-star-icon.svg" class="img-fluid">
                                </div>
                                <div class="mini_box">
                                    <img src="{{ host }}/static/Web/images/home-icon.svg" class="img-fluid">
                                </div>
                            </div>
                            <h4 class="gradient_heading">Seamless Integration</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- why choose  sec end -->

        <!-- key Features sec start -->
        <section class="key_features_sec" id="featureSec">
            <div class="container-md">
                <h3 class="gradient_heading text-center">Key Features of VoiceNinja</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="key_features_box">
                            <span class="d-block">01</span>
                            <div class="key_features_box_heading">
                                <h4 class="gradient_heading">Advanced Speech of the Recognition</h4>
                            </div>
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="key_features_box">
                            <span class="d-block">02</span>
                            <div class="key_features_box_heading">
                                <h4 class="gradient_heading">Uses case Natural Language Processing</h4>
                            </div>
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="key_features_box">
                            <span class="d-block">03</span>
                            <div class="key_features_box_heading">
                                <h4 class="gradient_heading">The Most Cross-Platform Compatibility</h4>
                            </div>
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- key Features sec end -->

        <!-- FAQ sec start -->
        <section class="faq_sec" id="faqSec">
            <div class="container-md">
                <div class="faq_heading text-center">
                    <span class="d-inline-flex align-items-center gap-2"><img src="{{ host }}/static/Web/images/faq-icon.svg"
                            class="img-fluid"> FAQ’S</span>
                    <h3 class="gradient_heading">Frequently Asked Questions </h3>
                </div>
                <div class="faq_inner">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                            the industry's
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                            the industry's
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                            the industry's
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseFour">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.?
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                            the industry's
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accordion" id="accordion2">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                            aria-expanded="false" aria-controls="collapseFive">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.?
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse"
                                        data-bs-parent="#accordion2">
                                        <div class="accordion-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                            the industry's
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                            aria-expanded="false" aria-controls="collapseSix">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.?
                                        </button>
                                    </h2>
                                    <div id="collapseSix" class="accordion-collapse collapse"
                                        data-bs-parent="#accordion2">
                                        <div class="accordion-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                            the industry's
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                            aria-expanded="false" aria-controls="collapseSeven">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.?
                                        </button>
                                    </h2>
                                    <div id="collapseSeven" class="accordion-collapse collapse"
                                        data-bs-parent="#accordion2">
                                        <div class="accordion-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                            the industry's
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseEight"
                                            aria-expanded="false" aria-controls="collapseEight">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.?
                                        </button>
                                    </h2>
                                    <div id="collapseEight" class="accordion-collapse collapse"
                                        data-bs-parent="#accordion2">
                                        <div class="accordion-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                            the industry's
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ sec end -->

        <!-- get started sec start -->
        <section class="get_started_sec">
            <div class="container-md">
                <div class="get_started_box text-center position-relative">
                    <h4 class="position-relative z-2">Get Started Today</h4>
                    <p class="position-relative z-2">Ready to Experience the the powe of thr voice-contoll AI?</p>
                    <div
                        class="get_started_box_btns position-relative z-2 d-flex align-items-center justify-content-center gap-3">
                        <a href="#" class="d-inline-block"> Get Started Free</a>
                        <a href="#" class="d-inline-block explore_feature_link"> Explore Features</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- get started sec end -->

        <!-- newsletter sec start -->
        <section class="newsletter_sec">
            <div class="container-md">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <a class="site_logo d-flex align-items-center gap-2" href="#">
                            <img src="{{ host }}/static/Web/images/voice-ninja-logo.svg" class="img-fluid">
                            <h3 class="mb-0">Voice Ninja</h3>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="newsletter_form">
                            <label class="form-label">Subscribe to the News lattar</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter your email"
                                    aria-label="Recipient's username">
                                <button class="subscribe_btn" type="button">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- newsletter sec end -->

        <!-- footer sec start -->
        <footer>
            <div class="container-md">
                <div class="footer_inner align-items-center">
                    <div class="footer_inner_left">
                        <div class="footer_links">
                            <h5>Platform</h5>
                            <ul class="list-unstyled">
                                <li>Voice Commands</li>
                                <li>Personalized Experiences</li>
                                <li>Real-Time Processing</li>
                                <li>Cross-Platform Compatibility</li>
                            </ul>
                        </div>
                        <div class="footer_links">
                            <h5>Company</h5>
                            <ul class="list-unstyled">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Customer</a></li>
                                <li><a href="#">Testimonial</a></li>
                            </ul>
                        </div>
                        <div class="footer_links">
                            <h5>Get Started</h5>
                            <ul class="list-unstyled">
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Request Demo</a></li>
                                <li><a href="#"></a>Support </li>
                                <li><a href="#"></a>Testimonial</li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer_social_links">
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <a href="#"><img src="{{ host }}/static/Web/images/fb-icon.svg" class="img-fluid"></a>
                            <a href="#"><img src="{{ host }}/static/Web/images/twitter-icon.svg" class="img-fluid"></a>
                            <a href="#"><img src="{{ host }}/static/Web/images/insta-icon.svg" class="img-fluid"></a>
                            <a href="#"><img src="{{ host }}/static/Web/images/youtube-icon.svg" class="img-fluid"></a>
                        </div>
                        <p>Copyright ©2024 VoiceNinja</p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright_sec">
            <div class="container-md">
                <p class="mb-0 text-center">©2024 copyright VoiceNinja</p>
            </div>
        </div>
        <!-- footer sec end -->
    </main>
</body>
<script src="{{ host }}/static/Web/js/bootstrap.bundle.min.js"></script>
<script src="{{ host }}/static/Web/js/jquery.min.js"></script>

</html>