{% extends 'Web/base.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}
{% block content %}
<body>
    <div class="login-container">
        <div class="container-lg">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="login_left">
                        <div class="site_logo d-flex align-items-center gap-3">
                            <img src="https://dev.voiceninja.ai/static/Web/images/logo-right.svg" class="img-fluid">
                            <h3 class="mb-0"><span>Your </span><br>logo</h3>
                        </div>
                        <div class="welcome_text">
                            <h1>Hello,<br> <span>Welcome!</span></h1>
                            <p>Create customized AI solutions effortlessly with our intuitive AI service generator.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="login_form mx-auto" id="login-form">
                        <div class="form-floating mb-4">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="password" name="password" placeholder="*********" required>
                            <label for="password">Password</label>
                            <div class="show_pass_icon position-absolute" onclick="togglePassword(this)">
                                <img src="https://dev.voiceninja.ai/static/Web/images/eye-icon.svg" class="img-fluid" id="toggleIcon">
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 flex-wrap">
                            <div class="form-check d-flex gap-2 align-items-center">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label mb-0" for="flexCheckDefault">
                                    Remember me
                                </label>
                            </div>
                            <div class="forgot-password">
                                <a href="https://dev.voiceninja.ai/forget-password">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="pt-1 login_signup_btn d-flex align-items-center gap-sm-4 gap-3">
                            <button type="submit" id="login-button" class="login-button w-100 active_btn">Log in</button>
                            <a href="https://dev.voiceninja.ai/signup" class="login-button w-100">Sign up</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    let host = "https://dev.voiceninja.ai";
       $('#login-form').submit(function (e) {
            e.preventDefault();
            $('#login-button').prop('disabled', true).text('Please wait...');

            let email = $('#email').val();
            let password = $('#password').val();
            let url = "https://dev.voiceninja.ai" "/api/user-login/";

            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',  // Set the correct content type
                data: JSON.stringify({
                    email: email,
                    password: password
                }),
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'  // Ensure CSRF token is included
                },
                success: function (response) {
                    if (response.status === 'success') {
                        toastr.success(response.message, { positionClass: 'toast-top-right' });
                        $('#login-button').text('Log in');
                        setTimeout(() => { window.location.href = "https://dev.voiceninja.ai" "/dashboard"; }, 1000);
                    } else {
                        toastr.error(response.error, { positionClass: 'toast-top-right' });
                        $('#login-button').prop('disabled', false).text('Log in');
                    }
                },      
                error: function (xhr, status, error) {
                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        toastr.error(xhr.responseJSON.error, { positionClass: 'toast-top-right' });
                    } else {
                        toastr.error('Login failed. Please try again.', { positionClass: 'toast-top-right' });
                    }
                    $('#login-button').prop('disabled', false).text('Log in');
                }
            });
        });

</script>
{% endblock %}
