{% extends 'Web/base.html' %}

{% block title %}
    <title>Reset Password</title>
{% endblock %}
  

{% block content %}
    <div class="login-container">
        <div class="container-lg">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="login_left">
                        <div class="site_logo d-flex align-items-center gap-3">
                            <img src="{{ url_for('static', path='Web/images/logo-right.svg') }}" class="img-fluid">
                            <h3 class="mb-0"><span>Your </span><br>logo</h3>
                        </div>
                        <div class="welcome_text">
                            <h1>Hello,<br> <span>Welcome!</span></h1>
                            <p>Create customized AI solutions effortlessly with our intuitive AI service generator.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="login_form mx-auto" id="resetPasswordForm">
                        <p class="login_form_heading">Set a new password to secure your account.</p>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" placeholder="*********" id="password1">
                            <label for="password1">New password</label>
                            <div class="show_pass_icon position-absolute" onclick="togglePassword(this)">
                                <img src="{{ url_for('static', path='Web/images/eye-icon.svg') }}" class="img-fluid">
                            </div>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" placeholder="*********" id="password2">
                            <label for="password2">Confirm password</label>
                            <div class="show_pass_icon position-absolute" onclick="togglePassword(this)">
                                <img src="{{ url_for('static', path='Web/images/eye-icon.svg') }}" class="img-fluid">
                            </div>
                        </div>
                        <div class="pt-1 forget_pass_btn login_signup_btn d-flex align-items-center gap-sm-4 gap-3">
                            <button type="submit" id="reset-password-button" class="login-button active_btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script>
    

        function getTokenFromUrl() {
            const pathParts = window.location.pathname.split('/');
            return pathParts[pathParts.length - 1];
        }
    
        // Handle form submission with AJAX
        $('#resetPasswordForm').on('submit', function(event) {
            event.preventDefault();
            
            button = $('#reset-password-button');
            const password1 = $("#password1").val();
            const password2 = $("#password2").val();
    
            // Get token from URL
            const token = getTokenFromUrl();
    
            if (!token) {
                toastr.error("Reset password token is missing.", "Error", {
                    "positionClass": "toast-top-right"
                });
                return;
            }
            if (password1 !== password2) {
                toastr.error("Passwords do not match.", "Error", {
                    "positionClass": "toast-top-right"
                });
                return;
            }
            button.prop('disabled', true).text('Please wait...');
            const data = {
                password1: password1,
                password2: password2,
                token: token
            };
    
            $.ajax({
                url: "{{ url_for('reset_password') }}",  
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}"
                },
                success: function(response) {
                    if (response.status === 'success') {
                        toastr.success(response.message, "Success", {
                            "positionClass": "toast-top-right"
                        });
                        button.prop('disabled', false).text('Save');
                        setTimeout(function() {
                            window.location.href = "{{ url_for('login') }}";
                        }, 2000);
                    } else {
                        toastr.error(response.error, "Error", {
                            "positionClass": "toast-top-right" 
                        });
                        button.prop('disabled', false).text('Save');
                    }
                },
                error: function(xhr, status, error) {
                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        toastr.error(xhr.responseJSON.error, "Error", {
                            "positionClass": "toast-top-right"
                        });
                    } else {
                        toastr.error("An error occurred. Please try again.", "Error", {
                            "positionClass": "toast-top-right"
                        });
                    }
                    button.prop('disabled', false).text('Save');
                }
            });
        });
    
    </script>


{% endblock %}




