{% extends 'Web/base.html' %}

{% block title %}<title>Signup</title>{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="container-lg">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="login_left">
                        <div class="site_logo d-flex align-items-center gap-3">
                            <img src="{{ host }}/static/Web/images/logo-right.svg" class="img-fluid">
                            <h3 class="mb-0"><span>Your </span><br>logo</h3>
                        </div>
                        <div class="welcome_text">
                            <h1>Hello,<br> <span>Welcome!</span></h1>
                            <p>Create customized AI solutions effortlessly with our intuitive AI service generator.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="login_form mx-auto" id="signup-form">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                            <label for="name">Name</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="password" name="password" placeholder="*********"  required>
                            <label for="password">Password</label>
                            <div class="show_pass_icon position-absolute" onclick="togglePassword(this)">
                                <img src="{{ host }}/static/Web/images/eye-icon.svg" class="img-fluid" id="toggleIcon">
                            </div>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="*********" required>
                            <label for="confirm_password">Confirm Password</label>
                            <div class="show_pass_icon position-absolute" onclick="togglePassword(this)">
                                <img src="{{ host }}/static/Web/images/eye-icon.svg" class="img-fluid" id="toggleIcon">
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 flex-wrap">
                            <div class="form-check d-flex gap-2 align-items-center">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label mb-0" for="flexCheckDefault">
                                    Remember me
                                </label>
                            </div>
                            <div class="forgot-password">
                                <a href="{{ host }}/forget-password">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="pt-1 login_signup_btn d-flex align-items-center gap-sm-4 gap-3">
                            <button type="submit" id="signup-button" class="login-button w-100">Sign Up</button>
                            <a href="{{ host }}/login" class="login-button w-100 active_btn">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




<script>
    let host = "{{ host }}";
    $(document).ready(function() {
        $('#signup-form').submit(function(e) {
            e.preventDefault();
            
            var signupButton = $('#signup-button');
            signupButton.prop('disabled', true).text('Please wait...');

            // Get form data as object
            var formData = {
                name: $('#name').val(),
                email: $('#email').val(),
                password: $('#password').val()
            };

            $.ajax({
                url: host + "/api/user-register/",
                type: "POST",
                data: JSON.stringify(formData),
                contentType: "application/json",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.status === 'success') {
                        toastr.success(response.message, { positionClass: 'toast-top-right' });
                        setTimeout(function() {
                            window.location.href = host + "/login";
                        }, 2000);
                    } else if (response.status === 'error') {
                        toastr.error(response.error, { positionClass: 'toast-top-right' });
                        signupButton.prop('disabled', false).text('Sign Up');
                    } else {
                        toastr.error(response.error, { positionClass: 'toast-top-right' });
                        signupButton.prop('disabled', false).text('Sign Up');
                    }
                },
                error: function(xhr, status, error) {
                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        toastr.error(xhr.responseJSON.error, { positionClass: 'toast-top-right' });
                    } else {
                        toastr.error("Something went wrong. Please try again.", { positionClass: 'toast-top-right' });
                    }
                    signupButton.prop('disabled', false).text('Sign Up');
                }
            });
        });
    });
    
</script>
{% endblock %}
