@media(max-width:1198.98px){
    .hand_free_inner_img_box{
        width: 80px;
    }
}
@media(max-width:991.98px){
    .about_us_heading .about_voice_logo{
        position: static;
        margin: auto;
    }
    .about_ninja_sec h3{
        padding: 20px 20px;
    }
    .footer_inner{
        grid-template-columns: 2fr;
    }
    .home_header .navbar-nav {
        margin-right: 20px;
    }
    .about_us_heading {
        text-align: center;
    }
    .about_us_content {
        padding: 20px 30px;
    }
   
}
@media(max-width:767.98px){
    .home_header .navbar-toggler span {
        height: 4px;
        background-color: #ffffff;
        border-radius: 4px;
        display: block;
        width: 26px;
        margin-bottom: 3px;
        margin-left: auto;
    }
    .home_header .navbar-toggler span:nth-child(2) {
        width: 20px;
    }
    .home_header .navbar-toggler span:last-child {
        width: 15px;
    }
    .home_header .navbar-collapse {
        position: absolute;
        background: #1a1a1a;
        top:55px;
        width: -webkit-fill-available;
        left: 0px;
        z-index: 2;
        border-radius: 10px;
        margin: 0px 5px;
        padding: 10px 20px;
        border: 1px solid #505050;
    }
    header.home_header{
        z-index: 999;
    }
    .home_header .navbar-nav{
        justify-content: start;
        margin-bottom: 20px;
    }
    .try_ninja_sec{
        padding: 30px 0px 0px;
    }
    .try_mic_container {
        padding: 100px 0px;
    }
    .container-md{
        padding: 0px 20px;
    }
    .key_features_box{
        margin-bottom: 15px;
    }
    .faq_sec, .why_choose_sec{
        padding: 0px;
    }
    .get_started_sec{
        padding: 30px 0px 40px;
    }
    .newsletter_form{
        margin: auto;
    }
    .newsletter_sec .site_logo {
        justify-content: center;
        margin-bottom: 20px;
    }
    .newsletter_form label{
        display: block;
        text-align: center;
    }
    .footer_inner{
        padding: 20px 0px;
    }
    .footer_inner_left{
        flex-wrap: wrap;
    }
    .try_ninja_content h1{
        font-size: 55px;
        line-height: 71px;
    }
    .about_us_content{
        text-align: center;
    }
}
@media(max-width:575.98px){
    .try_ninja_content h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .try_ninja_content h1 {
        font-size: 40px;
        line-height: 51px;
    }
    .about_voice_logo .rounded_box{
        height: 125px;
        width: 125px;
    }
    .about_us_heading .about_voice_logo::before {
        height: 160px;
        width: 160px;
    }
    .about_us_heading .about_voice_logo::after {
        height: 190px;
        width: 190px;
    }
    .about_us_heading .about_voice_logo{
        height: 220px;
        width: 220px; 
    }
    .why_choose_sec h3, .key_features_sec h3{
        margin-bottom: 20px;
    }
    .footer_inner_left{
        gap: 20px 90px;
    }
    .about_ninja_sec {
        padding: 0px 0px 40px;
    }
    .hand_free_inner_img_box {
        width: 50px;
        height: 130px;
    }
    .hand_free_inner_img_box::after, .hand_free_inner_img_box::before{
        right: 20px;
    }
    .hand_free_inner_img_box::before {
        right: 40px;
    }
    .hand_free_inner_img_box.double_star_box::after{
        left: 20px;
    }
    .hand_free_inner_img_box.double_star_box::before {
        left: 40px;
    }
    .footer_inner_left{
        flex-direction: column;
    }
    
    .footer_links ul::after{
        display: none;
    }
    
}
@media(max-width:479.98px){
    .hand_free_inner_img_box.double_star_box::before, .hand_free_inner_img_box::before{
        display: none;
    }
    .hand_free_inner_img_box{
        width: 70px;
    }
    .hand_free_efficiency{
        grid-template-columns: 29% 24% 35%;
    }
    .why_choose_box_grid{
        flex-direction: column;
        text-align: center;
    }
    .why_choose_box_outer, .personalized_experience_box {
        padding: 15px 10px;
    }
    .why_choose_box{
        padding: 20px 30px;
    }
    .why_choose_box h4{
        font-size: 20px;
    }
    .hand_free_box p{
        font-size: 14px;
    }
    .faq_inner{
        margin-top: 20px;
    }
    .get_started_box{
        padding: 50px 30px;
    }
    .try_ninja_content_btns {
        flex-wrap: wrap;
    }
    .get_started_box_btns{
        flex-wrap: wrap;
    }
}
@media(max-width:374.98px){
    .key_features_sec h3, .why_choose_sec h3, .about_ninja_sec h3, .get_started_box h4{
        font-size: 24px;
    }
    .try_ninja_content h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .try_mic_container {
        padding: 50px 0px;
    }
    .newsletter_form label, .key_features_box h4{
        font-size: 18px;
    }
    .newsletter_form .input-group{
        display: block;
        border: none;
    }
    .newsletter_form .input-group input{
        border: 1px solid #FFFFFF1A;
        width: 100%;
        border-radius: 40px !important;
        margin-bottom: 15px;
        padding: 13px 18px;
    }
    .newsletter_form button{
        padding: 15px 48px;
        width: 100%;
    }
    .key_features_box_heading{
        height: 160px;
    }
}


@media(min-width:1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}